@font-face {
    font-family: extradionary;
    src: url(../public/fonts/extradionary/extradionaryv2.ttf) format("ttf"),
        url(../public/fonts/extradionary/extradionaryv2.otf) format("otf"),
        url(../public/fonts/extradionary/extradionaryv2.woff) format("woff"),

}

@font-face {
    font-family: enchanted;
    src: url(../public/fonts/enchanted/enchanted_land-webfont.eot) format("eot"),
        url(../public/fonts/enchanted/enchanted_land-webfont.svg) format("svg"),
        url(../public/fonts/enchanted/enchanted_land-webfont.woff) format("woff"),
        url(../public/fonts/enchanted/enchanted_land-webfont.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}

